*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.menu, .logo{
    padding: 15px 20px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
}
.menu{
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(225, 222, 222);
}
.menu-nav{
    display: flex;
    align-items: center;
}

.list-item{
    padding-right:20px;
}
.list-item a{
    font-size: 17px;
    color: #5f6368;
    font-weight: 600;
}
.list-item:nth-child(5) a{
    border-bottom: 2px solid blue;
    
    padding-bottom: 6px;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}

.logo a{
    padding-left: 4px;
    font-size: 22px;
    color: #121213;
}
main{
    margin-top: 175px;
}

h3{
    color: #040404;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.333;
}
p{
    line-height: 1.714;
    padding-top: 15px;
    margin: 10px 0;
}